# ignore all .exe files 
*.exe
# ignore all these files 
*tempCodeRunnerFile.c
# ignore all these files 
*tempCodeRunnerFile.cpp
*tempCodeRunnerFile.c++
# ignore .vscode directory
.vscode/
.editorconfig